# Entorno Virtual
.venv/
venv/
env/
ENV/

# Variables de entorno (Secretos)
.env
.env.local
.env.*.local

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Configuración de editores/IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
